* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  display: flex;
  background-image: url('./images/neeks_george.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 700px) {
  body {
    background-size: 100vmin, auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

nav {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: black;
  color: white;
  align-items: center;
  position: fixed;
  font-size: 1.5vmin;
}

/* unvisited link */
a:link {
  color: inherit;
}

nav a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: rgb(220, 200, 195);
}

h1 {
  /* font-size: 3vw; */
  font-size: 250%;
  padding: 0;
  margin: 1vmin;
  display: flex;
}

h3 {
  font-size: 150%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  ul {
    font-size: 2vmin;
  }
}

ul li:first-child {
  margin-right: 33vmin;
  font-size: large;
}

@media (max-width: 700px) {
  ul li:first-child {
    margin-right: 20vmin;
    font-size: 2.6vmin;
  }
}

.main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vmin;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 80vmin;
  width: 90vmin;
  font-size: calc(3px + 1vmin);
}

@media (max-width: 700px) {
  .projectContainer {
    margin-top: 30vmin;
    height: 90vmin;
    width: 90vmin;
    font-size: calc(2.5px + 1vmin);
  }
}

.projThumb {
  height: 25vmin;
  width: 30vmin;
  margin-right: 3vmin;
  margin-left: 3vmin;
}

.projRow {
  display: flex;
}

.projDesc {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
}

@media (max-width: 700px) {
  .contactContainer {
    margin-top: 30vmin;
    height: 90vmin;
    width: 90vmin;
    font-size: calc(6px + 1vmin);
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
  font-size: 1.5vmin;
}
@media (max-width: 700px) {
  .homeContainer {
    height: 100vmin;
    width: 90vmin;
    font-size: calc(4px + 1vmin);
  }
}
.backgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
  text-align: center;
  font-size: calc(3px + 1vmin);
}

@media (max-width: 700px) {
  .backgroundContainer {
    margin-top: 30vmin;
    height: 90vmin;
    width: 90vmin;
    font-size: calc(2.5px + 1vmin);
  }
}

.bio {
  margin: 20px;
}

.homeRow {
  margin: 20px;
  text-indent: 10%;
}

.credit {
  text-align: center;
  align-self: baseline;
  margin-left: 20px;
  position: fixed;
  z-index: -1;
}

@media (max-width: 700px) {
  .credit {
    text-align: center;
    background-color: white;
  }
}

.song {
  display: flex;
  justify-content: flex-end;
}

.resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 110vh;
  width: 75vw;
}

@media (max-width: 700px) {
  .resumeContainer {
    margin-top: 30vmin;
    height: 135vmin;
    width: 100vmin;
    font-size: calc(2.5px + 1vmin);
  }
}

.resumeIMG {
  display: flex;
  width: 65vmin;
  height: auto;
}

@media (max-width: 700px) {
  .resumeIMG {
    display: flex;
    width: 90vmin;
    height: auto;
  }
}

.backgroundIMG {
  width: 25vw;
  height: auto;
}
