* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  display: flex;
  background-image: url('./images/neeks_george.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* height: 200vh; */
}

nav {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: black;
  color: white;
  align-items: center;
  position: fixed;
}

/* unvisited link */
a:link {
  color: inherit;
}

nav a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: rgb(220, 200, 195);
}

h1 {
  /* font-size: 3vw; */
  font-size: 250%;
  padding: 0;
  margin: 1vmin;
  display: flex;
}

h3 {
  font-size: 150%;
  /* font-size: calc(1px + 2vmin); */
  /* font-size: 1.25vw; */
  /* padding: 0;
  margin: 3px; */
  /* display: flex; */
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
}

ul li:first-child {
  margin-right: 33vmin;
  font-size: large;
}

.main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.projects {
  /* margin-top: 80vh; */
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
  font-size: calc(5px + 1vmin);
}

.projThumb {
  height: 45vh;
  width: 35vw;
  margin-right: 3vw;
}

.projRow {
  display: flex;
}

.projDesc {
  display: flex;
  flex-direction: column;
  width: 33vw;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
  font-size: 1.5vmin;
}
.backgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 75vh;
  width: 75vw;
  text-align: center;
}

.bio {
  margin: 20px;
}

.homeRow {
  margin: 20px;
  text-indent: 10%;
}

.credit {
  align-self: baseline;
  margin-left: 20px;
  position: fixed;
  z-index: -1;
}

.song {
  display: flex;
  justify-content: flex-end;
}

.resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 3vmin 15vmin;
  background-color: rgb(185, 148, 119, 0.8);
  color: white;
  height: 110vh;
  width: 75vw;
}

.resumeIMG {
  display: flex;
  width: 55vw;
  height: 95vh;
}

.backgroundIMG {
  width: 25vw;
  height: 40vh;
}
